
* {
    background:                  #1E1E2E;
    background-alt:              #F9E2AF;
    foreground:                  #F5C2E7;
    selected:                    #94E2D5;
    active:                      #89B4FA;
    urgent:                      #45475A;
    border:                      #F9E2AF;
}

