
* {
    background:                  #090617;
    background-alt:              #e9e3dc;
    foreground:                  #E7AD5B;
    selected:                    #E7AD5B;
    active:                      #BA6B5C;
    urgent:                      #BA6B5C;
    border:                      #E7AD5B;
}

