
* {
    background:                  #2d1f2a;
    background-alt:              #d2ddd1;
    foreground:                  #77C498;
    selected:                    #77C498;
    active:                      #5BA4A0;
    urgent:                      #5BA4A0;
    border:                      #77C498;
}

